pre, code {
  font-family: "Source Code Pro", monospace; }

p code, li code {
  background-color: #fef8f8;
  border-radius: 3px;
  padding: 2px 5px; }

pre code, table.sourcetable pre, .source pre {
  font-size: 0.95em;
  line-height: 1.6em;
  margin: 0; }

.source {
  display: inline-block;
  margin: 1em 1.5em; }

pre code {
  display: block; }

pre code, div[class^='brush: '] {
  background-color: #fef8f8;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

table.sourcetable {
  width: 100%; }
  table.sourcetable td.linenos {
    color: #d9b6b6;
    white-space: nowrap;
    width: 1%;
    font-weight: 300; }
  table.sourcetable pre {
    margin: 0; }

pre code, table.sourcetable {
  padding: 20px; }

td.linenos {
  padding-right: 15px; }

html {
  background-color: #fffcfc;
  font-family: "Merriweather", serif; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

#page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%; }

#page-content > section[role=main] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px; }
  #page-content > section[role=main] > .content {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 780px; }
    @media (max-width: 550px) {
      #page-content > section[role=main] > .content {
        padding: 30px 0; } }
  #page-content > section[role=main] p {
    line-height: 1.9em; }
  #page-content > section[role=main] li {
    line-height: 1.8em; }
  #page-content > section[role=main] a {
    color: #c54747; }
    #page-content > section[role=main] a:hover {
      color: #d16e6e;
      text-decoration: none; }

@media (max-width: 550px) {
  #blog-title-header {
    display: none; } }

#page-content > footer {
  background-color: #e45b5b;
  color: #fadede;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center; }
  #page-content > footer > .content {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 940px; }
  #page-content > footer a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline; }
  #page-content > footer h2, #page-content > footer h3 {
    font-weight: 300;
    margin: 0.8em; }
  #page-content > footer h2 {
    font-size: 1.1em; }
  #page-content > footer h3 {
    font-size: 0.8em; }

article > header .date-and-tags time {
  color: #473737;
  font-size: 1.5em;
  font-weight: 300; }

article > header .tags a {
  color: #c54747; }

article.inline > header .title {
  font-size: 2.3em;
  margin-bottom: 10px; }
  @media (max-width: 550px) {
    article.inline > header .title {
      font-size: 2em; } }

article.inline > header .date-and-tags {
  margin-bottom: 20px; }

article.main > header .title {
  font-size: 2.7em;
  margin-bottom: 10px;
  margin-top: 0; }
  @media (max-width: 550px) {
    article.main > header .title {
      font-size: 2.2em; } }

article.main > header .date-and-tags {
  margin-bottom: 2em; }

.content h1 {
  font-size: 2em;
  margin-top: 2em; }

.footnotes {
  font-size: small;
  margin-top: 4em; }

article.main > footer {
  margin-top: 40px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif; }

a {
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out; }
  a:hover {
    text-decoration: underline; }

blockquote {
  background-color: #F6F6F6;
  margin: 0;
  padding: 0.5em 35px; }

.navigation-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e45b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  width: 100%; }
  .navigation-bar a {
    color: #fadede;
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none; }
    .navigation-bar a:hover {
      color: white; }
  .navigation-bar h1 {
    margin: 5px 0;
    text-decoration: none;
    font-size: 1em;
    font-weight: inherit; }
  .navigation-bar .navigation-items {
    padding: 0; }
    .navigation-bar .navigation-items.left, .navigation-bar .navigation-items.right {
      margin: 15px; }
    .navigation-bar .navigation-items.center {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .navigation-bar .navigation-items li {
      display: inline-block;
      margin: 0 20px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  padding: 0; }
  .pagination li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    list-style: none;
    text-align: center; }
    .pagination li a {
      display: block;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
      width: 90%; }
    .pagination li.active a {
      cursor: default; }
    .pagination li a:hover, .pagination li.active a {
      background-color: #e45b5b;
      color: white !important; }

div.figure > img, article.main > p > a > img {
  max-width: 100%; }
